/* {
	outline: red 1px solid;
}*/
body {
	background-color: black;
}

.title {
	background: -webkit-linear-gradient(darkblue, cornflowerblue);
	background: -moz-linear-gradient(darkblue, cornflowerblue);
	background: -o-linear-gradient(darkblue, cornflowerblue);
	background: linear-gradient(darkblue, cornflowerblue); 
	margin: 10px;
	height: 100px;
	border-radius: 10px;
}

h1 {
	text-align: center;
	font-size: 25px;
	padding-top: 35px;
	font-family: cursive;
	color: white;
}

.container {
	background: -webkit-linear-gradient(darkblue, cornflowerblue);
	background: -moz-linear-gradient(darkblue, cornflowerblue);
	background: -o-linear-gradient(darkblue, cornflowerblue);
	background: linear-gradient(darkblue, cornflowerblue); 
	height: auto;
	width: auto;
	padding-bottom: 12px;
	border-radius: 10px;
}

.form {
	margin: 1%;
}

.item-details {
	padding-top: 12px;
	text-align: center;
	line-height: 2;
	font-size: 18px;
	color: white;
}

.description {
	width: 97%;
	font-size: 18px;
	font-family: serif;
	text-align: center;
}

.number {
	width: 20%;
	font-size: 18px;
	font-family: serif;
	text-align: center;
}

.button {
	margin-top: 10px;
	font-size: 18px;
}

.table {
	display: none;
	text-align: center;
	padding-top: 12px;
	padding-left: 3%;
}

th {
	padding: 5px;
	background-color: steelblue;
	border: 1px solid black;
	width: 15%;
	text-align: center;
}

td {
	padding: 5px;
	background-color: lightsteelblue;
	border: 1px solid black;
	width: 15%;
	vertical-align: middle;
	text-align: center;
}

.delete {
	background-color: transparent;
	border: 0px;
	width: 10%;
}

.total {
	padding-top: 12px;
	text-align: center;
	font-size: 18px;
	color: white;
}